@{
    ViewBag.Title = "SQL Data";

    var date = ViewBag.Date;
    var data = ViewBag.data;
    var list = ViewBag.List;
}
<h1>@ViewBag.Title</h1>

@model _Netcore_practice.Models.Orderinfo

<form style="margin-left:10px;" method="post" action="/Transcripts">
    <div class="input-group">
        <label>OrderNo</label>
        <input type="text" class="form-control" id="OrderNo" name="OrderNo" aria-describedby="emailHelp" placeholder="Enter OrderNo" value="@Model.OrderNo">
    </div>
    <div class="input-group">
        <label>OrderDate</label>
        <input type="text" class="form-control" id="OrderDate" name="OrderDate" placeholder="OrderDate" value="@Model.OrderDate">
    </div>
    <div class="input-group">
        <label>Reseller_No</label>
        <input type="text" class="form-control" id="Reseller_No" name="Reseller_No" aria-describedby="emailHelp" placeholder="Enter Reseller_No" value="@Model.ResellerNo">
    </div>
    <button type="submit" class="btn btn-primary">確定</button>
</form>

@*<style>
        div {
            margin-bottom: 10px;
        }
    </style>

    <div>
        現在時間: @date.ToString("yyyy/MM/dd HH:mm:ss")
    </div>

    <div>
        Sql資料: @data.ToString()
    </div>*@

<div>
    Sql資料列表:
</div>
@for (int i = 0; i < list.Count; i++)
    {
        <div>
            <label>@list[i].ToString()</label>
        </div>
    }

@*<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>OrderNo</th>
        <th>OrderDate </th>
        <th>Reseller_No </th>

    </tr>
    @foreach (var d in list)
    {
        <tr>
            <td>@d.OrderNo</td>
            <td>@d.OrderDate</td>
            <td>@d.Reseller_No</td>


        </tr>
    }
</table>*@  